:root{
    --primary-color:#ff004f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.header-text .color{
    font-weight: 700;
    color: #ff004f;
}
.btns{
    border: 1px solid #ff004f;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    transition: .3s;
    cursor: pointer;
}
.btns:hover{
    background: #ff004f;
}
.header-text .p-second{
    font-size: 15px;
    margin-top: 10px;
    color: #ababab;
    margin-right: 500px;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.logo{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
.logo span{
    color: var(--primary-color);
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: var(--primary-color);
}

/* -----------------about------------------- */

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ababab;

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .3s;
}
.tab-links.active::after{
    width: 50%; 
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
/* ------------------service------------------ */

#services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div p{
    color: #ababab;
}
.service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background: var(--primary-color);
    transform: translateY(-10px);

}

/* ----------------protfolio------------------------- */
#protfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(transparent,#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 800;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;

}
/* ---------------contact-------------------- */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-links{
    margin-top: 30px;
}
.social-links a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-links a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form{
    position: relative;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: 0;
    background: #262626;
    padding: 25px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}
form input, form textarea::placeholder{
    font-size: 15px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copuright{
    width: 100%;
    text-align: center;
    background: #262626;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}

/* ----------------Extra----------------- */

#toast-box{
    position: absolute;
    bottom: 30px;
    right: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    
}
.toast{
    color: #ff004f;
    background: #ffffff;
    width: 400px;
    height: 80px;
    font-weight: 500;
    margin: 15px 0;
    transition: ease .5s;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 10px #ababab;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;

}
.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #b54769;
    animation: anim 5s linear forwards;
}
.toast i{
    margin: 0 20px;
    font-size: 30px;
    color: #ff004f;
}

@keyframes anim {
    100%{
        width: 0;
    }
}

@keyframes moveleft{
    100%{
        transform: translateX(0);
    }
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: #ff004f;
    border-radius: 50%;
    animation: loading 0.75s ease infinite; 
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

nav .fas{
    display: none;
}







/* ----------media query--------------- */



@media only screen and (max-width:600px){
    #header{
        background-image: url("image/background2.jpg");
    }
    .header-text{
        margin-top: 20%;
        position: relative;
        font-size: 16px;
    }
    .header-text .p-second{
        margin-right: 40%;
        margin-top: 40px;
        border: px solid;


    }
    .header-text .color.color2{
        display: block;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1{
        margin-bottom: 20px;
    }
    .row{
        display: block;
    }
}
